<div class="header-container group">
  <a href="#">Products</a>
  <a href="#/gears">Gears</a>
  <a href="#/collections">Collections</a>
</div>
<ul class="gears">
</ul>
<button class="new-gear-button">Submit your cool gear bro!</button>
<div class="new-gear"></div>
