<div class="header-container group">
<div class="header-text group">
  <a class="products" href="#/products">PRODUCTS</a>
  <a class="gears" href="#/gears" style="color: #534540; border-bottom: 1px solid #534540">GEARS</a>
  <a class="collections" href="#/collections">COLLECTIONS</a>
</div>
</div>
<ul class="gears">
</ul>
<button class="new-gear-button">Submit your cool gear bro!</button>
<div class="new-gear"></div>
