<div class="header-container group">
  <a class="products" href="#">PRODUCTS</a>
  <a class="gears" href="#/gears" style="color: blue; border-bottom: 1px solid blue">GEARS</a>
  <a class="collections" href="#/collections">COLLECTIONS</a>
</div>
<ul class="gears">
</ul>
<button class="new-gear-button">Submit your cool gear bro!</button>
<div class="new-gear"></div>
