<div class="title group">
<div class="logo-container">
<a class="logo" href="#/products">S</a>
</div>
<h1>Sonic Hunt</h1>
<form class="search"><input id="search" type="text" value="Search"></form>
<img class="profile-pic-thumb" src=<%= Sonichunt.currentUser.escape('image_url') %>>
<div class="drop-down-container">
<svg class="svg" width="12" height="7" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg"><path d="M5.998 6.244c-.255 0-.51-.098-.703-.292L1.048 1.705C.663 1.32.66.683 1.05.293 1.444-.1 2.073-.1 2.462.29L6 3.83 9.538.29c.384-.384 1.02-.388 1.412.003.393.393.39 1.023.002 1.412L6.705 5.952c-.192.192-.447.29-.702.29z" fill="#CCC8C7"></path></svg>
<ul class="user-dropdown">
  <li class="dropdown-li"> <a href="#non" id="sign-out-link">Sign Out</a> </li>
  <li class="dropdown-li"> <a href=<%= "#/users/" + Sonichunt.currentUser.id %>>Your profile</a> </li>
</ul>
</div>
</div>
