<h1>SonicHunt!</h1>
A meeting place for audio enthusiasts.
<br>
<% if(Sonichunt.currentUser.isSignedIn()) { %>

  <p>
    Signed in as:
    <a href="#users/<%= Sonichunt.currentUser.id %>"><%= Sonichunt.currentUser.escape("username") %></a> |
    <a href="#" id="sign-out-link">Sign Out</a>
  </p>

<% } else { %>

  <p>
    <a href="#/users/new">Sign Up</a> |
    <a href="#/session/new">Sign In</a>
    <button class="guest-login">DemoUser</button>
  </p>

<% } %>
<div class="search">
<form><input id="search" type="text" value="Search"></form>
</div>
<hr>
