<div class="title group">
<div class="logo-container">
<a class="logo" href="#/products">S</a>
</div>
<h1>Sonic Hunt</h1>
</div>
<form class="search"><input id="search" type="text" value="Search"></form>
</div>
