<div class="intro">
<h1> WELCOME TO SONIC HUNT </h1>
<h1> get involved in our audiophile community </h1>
</div>
<form class="form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label>Username
      <input type="text" name="user[username]">
      </label>
    </div>

    <div class="input">
      <label>Password
      <input type="password" name="user[password]">
      </label>
    </div>

    <div class="submit">
      <button class="sign-in-button" style="display: inline;">Sign In</button>
      <button class="demo-user" style="display: inline;">Demo User</button>
      <br>
      <button class="facebook-login"><a href="/auth/facebook">Sign in with Facebook</a></button>
      <br>
      <a href="#/users/new">JOIN</a>
    </div>

  </fieldset>
</form>
