
<h1>Upload Image</h1>

<form>
  <label>
    Image
    <input type="file" name="user[image]" id="input-user-image">
  </label>

  <br>

  <img src="" id="preview-user-image" width="50">

  <br>

  <button class="save" style="display: inline;">Save</button>
  <button class="cancel-image" style="display: inline;">Cancel</button>
</form>
