<a href=<%="#/users/"+ user.escape('id')%>>
  <img class="user-item-thumb" src=<%= user.escape('image_url') %>
  <br>
  <item-title>@<%= user.escape('username') %></item-title>
  <br>
  <item-description><%= user.escape('email') %></item-description>
</a>
<% if ( parseInt(user.escape('id')) !=  Sonichunt.currentUser.id){ %>
  <button class="follow-button">
<% if ( user.follow().isNew() ){ %>
  Follow
<% }else {%>
  Unfollow
<% }}%>
</button>
