<nav class='user-info'>
  <div class="user-top-container group">
  <div class="profile-pic-container">
  <img class="profile-pic" src=<%= user.escape('image_url') %>>
  <a class="edit-pic">&#10000</a>
  <edit-image></edit-image>
</div>
  <div class="profile-text group">
  <h4 class="username"> @<%= user.escape('username') %> </h4>
  <h4 class="user-email"> email: <%= user.escape('email') %> </h4>
  <% if ( Sonichunt.currentUser.id === parseInt(user.escape('id'))) {%>
    <h4> THIS IS YOU </h4>
    <% } else { %>
      <button class="show-follow-button">
      <% if ( user.follow().isNew() ){ %>
        Follow
      <% }else {%>
        Unfollow
      <% }%>
      </button>
  <%}%>
</div>
</div>
 </nav>
<div class="user-header-container group">
  <a class="reviews">Reviews</a>
  <a class="gears">Gears</a>
  <a class="collections">Collections</a>
  <a class="followers">Followers</a>
  <a class="followees">Following</a>
</div>
<div class='user-stuff-container group'>
  <div class='user-reviews-container'>
  <ul class='user-reviews'></ul>
  </div>
  <div class='user-gears-container'>
  <ul class='user-gears'></ul>
  </div>
  <div class='user-collections-container'>
  <ul class='user-collections'></ul>
  </div>
  <div class='user-followers-container'>
  <ul class='user-followers'></ul>
  </div>
  <div class='user-followees-container'>
  <ul class='user-followees'></ul>
  </div>
</div>
