<% if (review.isNew()) { %>
  <h1>New Review</h1>
<% } else { %>
  <h1>Edit Review</h1>
<% } %>

<label>Title:
<input class="input-text" type='text' name='title' value='<%=review.escape('title')%>'>
</label>
<br>
<label>Description:
<br>
<textarea class="input-textarea" name='description' value='<%=review.escape('description')%>'></textarea>
</label>
<br>
<label>Score:
<input class="input-number" type='number' name='score' value='<%=review.escape('score')%>'>
</label>
<br>
<button class='submit'>Submit</button>
<button class='cancel'>Cancel</button>
