<% if (review.isNew()) { %>
  <h1 style="font-weight: bold; margin: 0 auto;">New Review</h1>
<% } else { %>
  <h1 style="font-weight: bold; margin: 0 auto; color: black;">Edit Review</h1>
<% } %>

<label>Title:
<input class="input-text" type='text' name='title' value='<%=review.escape('title')%>'>
</label>
<br>
<label>Description:
<br>
<textarea class="input-textarea" name='description' value='<%=review.escape('description')%>'></textarea>
</label>
<br>
<label>Score:
<input class="input-number" type='number' name='score' value='<%=review.escape('score')%>'>
</label>
<br>
<button style="display: inline;" class='submit'>Submit</button>
<button style="display: inline;" class='cancel'>Cancel</button>
