<div class="header-container group">
<div class="header-text group">
  <a class="products" href="#/products">PRODUCTS</a>
  <a class="gears" href="#/gears">GEARS</a>
  <a class="collections" href="#/collections" style="color: #534540; border-bottom: 1px solid #534540">COLLECTIONS</a>
</div>
</div>
<ul class="collections">
</ul>
