<div class="collection-show">
  <h1> <%= collection.escape('title') %> </h1>
  <br>
  <h2> Products In This Collection </h2>
  <ul class="products">
  </ul>
  <h2> Gears In This Collection </h2>
  <ul class="gears">
  </ul>
</div>
<a href="#">Back To Main</a>
