<div class="header-container group">
  <a class="products" href="#">Products</a>
  <a class="gears" href="#/gears">Gears</a>
  <a class="collections" href="#/collections">Collections</a>
</div>
<ul class="products">
</ul>
