<div class="header-container group">
  <a class="products" href="#" style="color: blue; border-bottom: 1px solid blue">PRODUCTS</a>
  <a class="gears" href="#/gears">GEARS</a>
  <a class="collections" href="#/collections">COLLECTIONS</a>
</div>
<ul class="products">
</ul>
