<div class="header-container">
  <div class="header-text group">
  <a class="products" href="#/products" style="color: blue; border-bottom: 1px solid blue">PRODUCTS</a>
  <a class="gears" href="#/gears">GEARS</a>
  <a class="collections" href="#/collections">COLLECTIONS</a>
</div>
</div>
<ul class="products">
</ul>
