/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, a, ul, li, form,
strong, main, section, img, div, p, fieldset, label, article, footer, small,
h1, h2, h3, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
}


input {
    background: white;
}

textarea {
    border: solid 1px #ccc;
}

body{
  box-sizing: content-box;
  font-family: 'Didot';
  font-size: 16px;
  color: #838383;
}


img{
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button{
  background-color: #CCF2FF;
  color: gray;
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}



button:hover,
button:focus,
button:active {
    transform: scale(1.1);
}

button:hover {
  cursor: pointer;
}

header{
  z-index: 100;
  color: white;
  position: relative;
  padding: 15px;
  background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 50%,#e9d4b3 100%);
  display: block;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}


div.welcome{
  display: block;
  font-weight: bold;
  color: white;
  width: 100%;
}

div.welcome img{
  position: relative;
  z-index: 0;
  height: 400px;
  width: 100%;
  bottom: 200px;
}

div.welcome h1{
 z-index: 100;
 position: relative;
 display: block;
 bottom: 10px;
}


.header-container{
  position: relative;
  background-color: #F7F7FA;
  border-bottom: 1px solid #E4E2E2;
  padding: 0 20px;
  display: block;
}

nav.user-info{
  position: relative;
  display: block;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  background: #534540;
}



.header-container a{
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  float: left;
  display: block;
  margin-right: 30px;
  cursor: pointer;
  padding: 20px 0;
  overflow: hidden;
}

.user-header-container a{
  overflow: hidden;
  position: relative;
  height: 100%;
  display: block;
  float: left;
  font-weight: bold;
  cursor: pointer;
  padding: 11px 48px;
  text-align: center;
}

.user-header-container a:hover {
  background-color: #756966;
}



a.collection-add{
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px
}





div.new-review {
  display: none;
}

div.new-comment {
  display: none;
  height: 50px;
}

textarea {
  height: 80px;
}

a.collection-add {
  cursor: pointer;
}



li.product-item, li.gear-item{
  border-top: 0px;
  padding-left: 20px;
  position: relative;
  display: block;
  height: 100px;
}

li.product-item:first-child, li.gear-item:first-child{
  padding-top: 30px;
  position: relative;
}

li.gear-item:first-child .add-gear{
  position: absolute;
  top: 80px;
}

li.gear-item:first-child .gear-delete{
  position: absolute;
  top: 85px;
}

li.gear-item .gear-delete{
  position: absolute;
  top: 55px;
}

li.gear-item .edit-gear-button{
  position: absolute;
  top: 55px;
}

li.gear-item .add-gear {
  position: absolute;
  top: 55px;
}

li.review-item{
  height: 80px;
  border: 1px solid #BAB4B2;
  border-radius: 2px;
}

li.gear-item{
  background: white;
  border-radius: 2px;
}

li.product-item:hover, li.gear-item:hover, li.review-item:hover{
  background: #F7F7FA;
}

li.product-item  a{
  position: relative;
  margin-top: 20px;
}


.thumb {
  float: left;
  display: block;
  position: relative;
  width: 120px;
  height: 90px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 26px;
}

.review-item {
  position: relative;
}


.user-show .review-item div{
  position: absolute;
  z-index: 100;
  width: 200px;
  margin: auto;
  height: 300px;
  left: 600px;
  display: block;
  color: #fff;
  border-radius: 5px;
}

.review-item div{
  z-index: 100;
  position: absolute;
  left: 100px;
  width: 200px;
  margin: auto;
  display: block;
  background-color: black;
  border-radius: 5px;
  color: #fff;
}




edit-gear {
  position: absolute;
  display: none;
  z-index: 100;
  background: black;
  color: white;
  width: 300px;
}


.search{
  display: block;
  float: right;
}

.search input{
  padding: 3px;
  position: relative;
  display: block;
  width: 200px;
  height: 30px;
  color: #534540;
  border-radius: 20px;
  border: 1px solid #B8B8B8;
  font-size: 20px;
  margin-right: 200px;
}

div.title {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

div.user-stuff-container div{
  display: none;
}

.user-stuff-container div.user-reviews-container{
  display: block;
}

div.user-header-container{
  width: 824px;
  margin: 0 auto;
  background: #827774;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.auth-button, .guest-login {
  position: relative;
  margin: auto;
  padding: 5px;
  border: solid white 1px;
  z-index: 50;
  border-radius: 5px;
  cursor: pointer
}

.auth-button:hover, .guest-login:hover, .delete-gear {
  background: red;
}

.upvote-button{
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  background: none;
  border: none;
  text-align: center;
  color: #534540;
  font-size: 16px;
  display: block;
}

img.show{
  float: left;
  border-radius: 5px;
  display: block;
  width: 250px;
  height: 250px;
  margin: auto 0px;
}

.product-top, .gear-top, .review-top{
  display: block;
}

.gear-top{
  padding: 20px;
  position: relative;
}

.product-brief, .gear-brief{
  font-weight: bold;
  float: left;
  margin-left: 40px;
  width: 160px;
}


.review-top {
  position: relative;
  padding: 20px;
  background: #EDECEB;
  text-align: center;
}

.coll-thumb {
  display: block;
  position: relative;
  width: 150px;
  height: 240px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 40px;
}

.collection-item {
  display: block;
  float: left;
  position: relative;
  width: 150px;
  margin-right: 40px;
  text-align: center;
}

.collection-item h2:hover {
  color: red;
}

.collection-item h2{
  color: #534540;
  font-size: 24px;
  margin: auto;
  position: relative;
  bottom: 150px;
}

.profile-pic {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.profile-pic-container {
  float: left;
  position: relative;
}

.edit-pic {
  color: #534540;
  position: absolute;
  bottom: 80px;
  z-index: 100;
  left: 90px;
}

.edit-pic:hover {
  color: red;
  cursor: pointer;
}

.profile-text {
  position: relative;
  bottom: 30px;
  float: left;
  margin-left: 50px;
}

h4.username {
  font-size: 30px;
}

h4.user-email {
  position: relative;
  bottom: 20px;
  font-weight: 300;
  color: white;
}

.user-show {
  display: block;
  position: relative;
  color: white;
}

edit-image {
  display: none;
  z-index: 100;
  color: black;
}

div.user-top-container{
  display: block;
  width: 940px;
  margin: 0 auto;
}

.title h1{
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 20px;
  color: #534540;
}

.logo-container{
  float: left;
  border-radius: 50%;
  background: #534540;
  width: 40px;
  height: 40px;
  color: white;
}

.logo{
  position: relative;
  right: 18px;
  bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

.logo:hover{
  cursor: pointer;
}

.title a{
  float: left;
  margin-left: 30px;
  margin-top: 13px;
}

.form-fieldset {
  padding: 19px;
  display: block;
  background: #eee;
  font-size: 24px;
  width: 600px;
  text-align: center;
  background: transparent;
}

.form {
  margin: auto;
}

.input  label {
  font-weight: 700;
  padding: 0 0 5px 0;
  color: #aaa;
}

.input  input {
  color: black;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  margin: auto;
}

.input  input:focus {
  border-color: #0c0;
}


.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit  button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #00BFFF;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
}

.submit  button:hover {
  background: #0000FF;
  cursor: pointer;
}

.submit  button:active {
  top: 3px;
  background: #000080;
  box-shadow: none;
}

.SignIn,.SignUp {
  display: block;
  position: absolute;
  background: url("http://drive.google.com/uc?export=view&id=0B8bCp1aDfhNTYk5OQnhYQzM1OVE");
  width: 1920px;
  height: 1080px;
}


.intro {
  margin-top: 50px;
  display: block;
  margin-left: 100px;
  color: #ff0000;
  font-weight: bold;
  font-size: 36px;
  font-family: cursive;
}

.intro h1{
  margin-bottom: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit > a{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit > a:hover{
  background: -webkit-linear-gradient(#FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text{
  width: 980px;
  margin: 0 auto;
}


ul.products, ul.collections {
  display: block;
  width: 900px;
  margin: 0 auto;
  background: white;
  min-height: 1200px;
  padding: 20px;
}

div.gears-index-div{
  display: block;
  width: 900px;
  margin: 0 auto;
  background: white;
  min-height: 1200px;
  padding: 20px;
}


ul.user-reviews, ul.user-gears, ul.user-collections, ul.user-followers, ul.user-followees{
  display: block;
  width: 900px;
  margin: 0 auto;
  background: white;
  min-height: 1200px;
  padding: 20px;
}

ul.products li, ul.gears li, ul.user-reviews li, ul.user-gears li, ul.user-followers li, ul.user-followees li{
  margin-bottom: 23px;
  display: block;
}





item-title{
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 12px;
}


item-description{
  position: relative;
  top: 18px;
  color: black;
}

user-item-email{
  display: block;
  margin-top: 20px;
}

button.add-product, button.add-gear {
  top: 20px;
  left: 680px;
  position: absolute;
  color: white;
  float: right;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  background-color: #534540;
  border: 1px solid black;
}


  .gear-delete{
  color: #534540;
  position: absolute;
  right: 140px;
  z-index: 50;
  top: 80px;
}

li.gear-item:first-child .edit-gear-button {
  top: 80px;
  color: #534540;
  position: absolute;
  right: 90px;
  z-index: 50;
}

.edit-gear-button {
  top: 60px;
  color: #534540;
  position: absolute;
  right: 90px;
  z-index: 50;
}

.edit-review-button{
  color: #534540;
  position: absolute;
  right: 160px;
  top: 20px;
}

.review-delete{
  color: #534540;
  position: absolute;
  right: 100px;
  top: 20px;
}

div.review-section .review-delete{
  position: absolute;
  right: 40px;
}

div.review-section .edit-review-button{
  position: absolute;
  right: 90px;
}


.collection-delete{
  color: #534540;
  display: block;
  margin: auto;
  position: relative;
  left: 300px;
  bottom: 130px;
}

.collection-delete:hover, .gear-delete:hover, .review-delete:hover, .edit-gear-button:hover, .edit-review-button:hover {
  cursor: pointer;
  color: red;
}


.user-dropdown{
  top: 35px;
  background: white;
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px solid #838383;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  right: 5px;
  width: 200px;
}

.user-dropdown:after{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}



.user-dropdown > li{
  position: relative;
}


.user-dropdown li a{
  width: 100%;
  display: block;
  padding: 10px;
  position: relative;
  margin: auto;
}


.user-dropdown li a:hover{
  background: #F7F7FA;
}

svg:hover {
  color: blue;
  cursor: pointer;
}




.profile-pic-thumb{
  position: absolute;
  top: 0;
  right: 40px;
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}


.drop-down-container {
  color: #534540;
  position: absolute;
  float: right;
  left: 915px;
  top: 13px;
}

.follow-or-you{
  float: right;
  text-align: center;
}

.follow-or-you h4{
  position: relative;
  font-weight: 300;
  color: white;
  margin-top: 50px;
  right: 40px;
}

.item-owner-thumb{
  float: left;
  position: relative;
  left: 150px;
  bottom: 5px;
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.collection-owner-thumb {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #7F7F96;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.user-item-thumb{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.user-item:hover{
  background: #F7F7FA;
}

.user-item-thumb:hover,.profile-pic-thumb:hover{
  cursor: pointer;
}

.user-item {
  float: left;
  position: relative;
  border: 1px solid #838383;
  display: block;
  margin-left: 20px;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
}

.user-item a{
  display: block;
  text-align: center;
  margin: auto;
}

.user-item img{
  margin-bottom: 20px;
}

 button.submit, button.cancel, .new-review-button, .follow-button, .new-gear-button, .new-comment-button{
  padding: 8px;
  display: block;
  color: #534540;
  background: #DCC29A;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-family: "Didot";
  font-weight: bold;
  font-size: 13px;
}

.comment-form button.submit, .comment-form button.cancel,.comment-delete, .edit-comment-button,.new-comment-button{
  margin-left: 20px;
  background: #DCC29A;
  color: #534540;
  font-family: "Didot";
  font-weight: bold;
  font-size: 13px;
}

.follow-button:hover {
  background: #756966;
}

.follow-button {
  margin-top: 30px;
}

div.product-info, div.gear-info{
  color: black;
  display: block;
  float: left;
  width: 500px;
  padding: 20px;
  line-height: 1.5em;
  background: #edeceb;
  min-height: 1000px;
}

div.gear-info{
  padding: 0;
  min-height: 1000px;
}


div.review-section, div.gear-section{
  padding-left: 20px;
  padding-top: 30px;
  width: 400px;
  color: black;
  float: left;
  min-height: 1000px;
  background-color: #fbfbfb;
  overflow: hidden;
}

div.gear-section{
  min-height: 1523px;
}

.gear-show li.product-item{
  padding: 0;
}

.review-form{
  display: block;
  background: #eee;
  padding: 30px;
  font-size: 18px;
  width: 250px;
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
  z-index: 100px;
  position: relative;
  right: 20px;
}



.product-show, .gear-show {
  width: 1000px;
  margin: 0 auto;
}

.review-show {
  width: 800px;
  margin: 0 auto;
  color: black;
  min-height: 1000px;
  border-left: solid 1px #BAB4B2;
  border-right: solid 1px #BAB4B2;
}



.review-top h1{
  margin-bottom: 20px;
  font-size: 16px;
}

.review-top h1:first-child{
  font-weight: bold;
  font-size: 30px;
}

.review-top a.review-info:hover, a.collection-info:hover{
    color: #BAB4B2;
}

a.collection-info,a.review-info{
  color: #534540;
}

.product-description , .gear-description, .review-description{
  display: block;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.gear-description{
  padding: 20px;
}



.review-description{
  padding: 20px 20px 50px 20px;
  line-height: 25px;
  background: #FBFBFB;
}

.review-owner-info{
  display: block;
  margin: auto;
  position: relative;
  left: 320px;
}

.review-owner-thumb{
  position: relative;
  left: 30px;
  bottom: 4px;
  float: left;
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}


.review-owner-info  h1{
  float: left;
  font-size: 16px;
}

.review-owner-info a{
  font-weight: bold;
  font-size: 16px;
}

.mini-header{
  font-weight: bold;
  font-size: 22px;
  display: block;
  padding-top: 20px;
  margin: 0 0 20px 0;
}

.gear-form input,.input-text, .input-textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 180px;
  border-radius: 3px;
}

.input-number {
  height: 30px;
  font-size: 20px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: white;
}

.input-text {
  height: 30px;
}

.input-textarea {
  height: 80px;
  width: 250px;
  color: black;
}

.input  input:focus {
  border-color: #0c0;
}

.review-form label{
  margin-top: 40px;
  font-weight: 700;
  color: black;
}

.gear-section .products .product-item item-description{
  display: none;
}


.comment-form input{
  margin-top: 20px;
  display: block;
  background: #fff;
  border: 1px solid black;
  font-size: 16px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
}

.comment-form .submit, .comment-form .cancel{
  display: inline;
}

.show-follow-button {
  background: #D3B689;
  color: #534540;
  border-radius: 5px;
  font-size: 20px;
  margin: auto;
  padding: 5px;
  display: block;
}


.review-top button.upvote-button{
  position: relative;
  left: 650px;
  bottom: 120px;
  font-size: 24px;
}

.comment-item{
  display: block;
  padding: 20px;
  border-bottom: 1px solid black;
}

.collection-show{
  background: white;
  margin: 0 auto;
  width: 980px;
  border-left: solid 1px #BAB4B2;
  border-right: solid 1px #BAB4B2;
  min-height: 1000px;
}

.collection-details{
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  border-bottom: solid 1px #E6D0AE;
}


.collection-owner-info {
  display: block;
  margin: 0 auto;
  position: relative;
}

.collection-details h1:first-child{
  font-weight: bold;
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.collection-items{
  display: block;
  padding: 0 20px;
}

.remove-pro-from-col, .remove-gear-from-col{
  padding: 3px;
  display: block;
  color: white;
  background: #534540;
  border-radius: 5px;
  position: relative;
  top: 25px;
}


div.collectionpopup {
  display: block;
  z-index: 100;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  position: absolute;
  background: #eee;
  left: 400px;
}

.collectionpopup a {
  color: black;
  padding: 10px 20px 10px 20px;
  display: block;
}

.collectionpopup a:hover{
  background: #c5c5c8;
}

form.new-collection input{
  border-radius: 5px;
  height: 30px;
  display: inline;
  width: 300px;
  font-size: 18px;
}

form.new-collection button{
  color: white;
  background: #534540;
  border-radius: 5px;
  height: 30px;
  display: inline;
  width: 60px;
  margin-left: 20px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.gear-form{
  background: #EDECEB;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  width: 500px;
  display: block;
  margin: 0 auto;
  z-index: 100;
  padding-left: 20px;
}

.gear-form select{
  background: white;
  width: 200px;
  margin: 20px 20px;
  height: 30px;
  font-size: 16px;
}

.gear-form input{
  background: white;
  margin: 20px 20px;
  width: 180px;
  height: 30px;
}

.gear-form textarea{
  background: white;
  display: block;
  width: 180px;
  height: 160px;
  margin: 20px 20px 0 20px;
}

.gear-form-header {
  display: block;
  margin: 30px 0;
  font-weight: bold;
  font-size: 24px;
}

.gear-show-upvote-button{
  text-align: center;
  display: block;
  position: absolute;
  left: 350px;
  top: 160px;
  font-size: 28px;
  border: none;
  background: none;
}


.user-image-upload{
  position: absolute;
  background: #eee;
  border: 1px solid black;
  width: 300px;
  display: block;
  z-index: 100;
  padding: 20px;
  border-radius: 5px;
}


.save, .cancel-image{
  color: white;
  background: #534540;
}


header img.profile-pic-thumb:hover .user-dropdown{
  display: block;
}

.facebook-login{
  display: block;
  margin-top: 20px;
  margin-left: 175px;
}

body{
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(top, #f3e2c7 0%, #b68d4c 40%, #b68d4c 40%, #c19e67 50%, #e9d4b3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(40%,#b68d4c), color-stop(40%,#b68d4c), color-stop(50%,#c19e67), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f3e2c7 0%,#b68d4c 40%,#b68d4c 40%,#c19e67 50%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f3e2c7 0%,#b68d4c 40%,#b68d4c 40%,#c19e67 50%,#e9d4b3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f3e2c7 0%,#b68d4c 40%,#b68d4c 40%,#c19e67 50%,#e9d4b3 100%); /* IE10+ */
background: linear-gradient(to bottom, #f3e2c7 0%,#b68d4c 40%,#b68d4c 40%,#c19e67 50%,#e9d4b3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
  z-index: -5;
}

.collection-show ul.products, .collection-show ul.gears{
  min-height: 0px;
}

.review-comments,.comments-section{
  display: block;
  padding: 20px;
  background: white;
  min-height: 1000px;
}
