/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, a, ul, li, form,
strong, main, section, img, div, p, fieldset, label, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
}

body{
  box-sizing: content-box;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  color: #838383;
}


img{
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button{
  background-color: #CCF2FF;
  color: gray;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}



button:hover,
button:focus,
button:active {
    transform: scale(1.1);
}

button:hover {
  cursor: pointer;
}

header{
  z-index: 100;
  position: relative;
  padding: 15px;
  display: block;
  border-bottom: 1px solid #E4E2E2;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}


div.welcome{
  display: block;
  font-weight: bold;
  color: white;
  width: 100%;
}

div.welcome img{
  position: relative;
  z-index: 0;
  height: 400px;
  width: 100%;
  bottom: 200px;
}

div.welcome h1{
 z-index: 100;
 position: relative;
 display: block;
 bottom: 10px;
}


.header-container{
  position: relative;
  background-color: #F7F7FA;
  border-bottom: 1px solid #E4E2E2;
  padding: 0 20px;
  margin-bottom: 40px;
  display: block;
}

nav.user-info{
  position: relative;
  display: block;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  background: #534540;
  color: white;
  margin-bottom: 40px;
}



.header-container a{
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  float: left;
  display: block;
  margin-right: 30px;
  cursor: pointer;
  padding: 20px 0;
  overflow: hidden;
}

.user-header-container a{
  overflow: hidden;
  position: relative;
  height: 100%;
  display: block;
  float: left;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 11px 48px;
  text-align: center;
}

.user-header-container a:hover {
  background-color: #756966;
}

div.collectionpopup{
  margin: auto;
  position: relative;
  display: block;
  bottom: 850px;
  margin: auto;
  background-color: black;
  width: 200px;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
}

a.collection-add{
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px
}



.gear-section{
  display: block;
  float: left;
  text-align: center;
  margin-left: 200px;
}

.gear-info{
  position: relative;
  display: block;
  float: left;
  text-align: center;
  margin-left: 50px;
}

div.product-show > div{
  display: block;
  float: left;
}

div.new-review {
  display: none;
}

div.new-comment {
  display: none;
  height: 50px;
}

textarea {
  height: 80px;
}

a.collection-add {
  cursor: pointer;
}


form.new-collection input{
  background-color: gray;
}



div.new-gear{
  display: none;
  position: relative;
  top: 5px;
  color: white;
  background-color: black;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  right: 250px;
  bottom: 30px;
}

.gear-form input{
  margin: 20px 0;
}

li.product-item, li.gear-item{
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
}

li.review-item{
  height: 80px;
}

li.product-item:hover, li.gear-item:hover, li.review-item:hover{
  background: #F7F7FA;
}

li.product-item  a{
  position: relative;
  margin-top: 20px;
}

li.product-item div, li.gear-item div{
  position: absolute;
  top: 280px;
  left: 100px;
  z-index: 100;
}

.thumb {
  float: left;
  display: block;
  position: relative;
  width: 120px;
  height: 90px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 26px;
}

.review-item {
  position: relative;
}

.user-show .review-item div{
  position: absolute;
  z-index: 100;
  width: 200px;
  margin: auto;
  height: 300px;
  left: 180px;
  display: block;
  color: #fff;
  border-radius: 5px;
  background-color: black;
}

.review-item div{
  z-index: 100;
  position: absolute;
  left: 100px;
  width: 200px;
  margin: auto;
  display: block;
  background-color: black;
  border-radius: 5px;
  color: #fff;
}

.user-show div.collectionpopup{
  top: 360px;
  right: 250px;
}

.collectionpopup a:hover{
  color: red;
}

edit-gear {
  position: absolute;
  display: none;
  z-index: 100;
  background: black;
  color: white;
  width: 300px;
}


.search{
  display: block;
  float: right;
}

.search input{
  position: relative;
  display: block;
  width: 200px;
  height: 30px;
  color: #B1B1B1;
  border-radius: 20px;
  border: 1px solid #B8B8B8;
  font-size: 20px;
  margin-right: 200px;
}

div.title {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

div.user-stuff-container div{
  display: none;
}

.user-stuff-container div.user-reviews-container{
  display: block;
}

div.user-header-container{
  width: 824px;
  margin: 0 auto;
  background: #827774;
  border-radius: 5px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.auth-button, .guest-login {
  position: relative;
  margin: auto;
  padding: 5px;
  border: solid white 1px;
  z-index: 50;
  border-radius: 5px;
  cursor: pointer
}

.auth-button:hover, .guest-login:hover, .delete-gear {
  background: red;
}

.upvote-button{
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  background: none;
  border: none;
  text-align: center;
  color: #534540;
  font-size: 16px;
}

img.show{
  float: left;
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto 15px;
}

a.product-back {
  width: 150px;
  margin-top: 20px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background: black;
}

.coll-thumb {
  display: block;
  position: relative;
  width: 150px;
  height: 240px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 40px;
}

.collection-item {
  display: block;
  float: left;
  position: relative;
  width: 150px;
  margin-right: 40px;
  text-align: center;
}

.collection-item img:hover {
  background: red;
}

.collection-item h2{
  color: gray;
  margin: auto;
  position: relative;
  bottom: 150px;
}

.profile-pic {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.profile-pic-container {
  float: left;
  position: relative;
}

.edit-pic {
  position: absolute;
  bottom: 80px;
  z-index: 100;
  left: 90px;
}

.edit-pic:hover {
  color: red;
  cursor: pointer;
}

.profile-text {
  position: relative;
  bottom: 30px;
  float: left;
  margin-left: 50px;
}

h4.username {
  font-size: 30px;
}

h4.user-email {
  position: relative;
  bottom: 20px;
  font-weight: 300;
  color: #838383;
}

.user-show {
  display: block;
  position: relative;
}

edit-image {
  display: none;
  z-index: 100;
  color: black;
}

div.user-top-container{
  display: block;
  width: 940px;
  margin: 0 auto;
}

.title h1{
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 20px;
  color: #534540;
}

.logo-container{
  float: left;
  border-radius: 50%;
  background: #534540;
  width: 40px;
  height: 40px;
  color: white;
}

.logo{
  position: relative;
  right: 18px;
  bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

.logo:hover{
  cursor: pointer;
}

.title a{
  float: left;
  margin-left: 30px;
  margin-top: 13px;
}

.form-fieldset {
  padding: 19px;
  display: block;
  background: #eee;
  font-size: 24px;
  width: 600px;
  text-align: center;
  background: transparent;
}

.form {
  margin: auto;
}

.input  label {
  font-weight: 700;
  padding: 0 0 5px 0;
  color: #aaa;
}

.input  input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  margin: auto;
}

.input  input:focus {
  border-color: #0c0;
}


.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit  button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #00BFFF;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
}

.submit  button:hover {
  background: #0000FF;
  cursor: pointer;
}

.submit  button:active {
  top: 3px;
  background: #000080;
  box-shadow: none;
}

.SignIn,.SignUp {
  display: block;
  position: absolute;
  background: url("http://drive.google.com/uc?export=view&id=0B8bCp1aDfhNTYk5OQnhYQzM1OVE");
  width: 1920px;
  height: 1080px;
}


.intro {
  margin-top: 50px;
  display: block;
  margin-left: 100px;
  color: #ff0000;
  font-weight: bold;
  font-size: 36px;
  font-family: cursive;
}

.intro h1{
  margin-bottom: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit > a{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit > a:hover{
  background: -webkit-linear-gradient(#FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text{
  width: 980px;
  margin: 0 auto;
}


ul.products, ul.gears, ul.collections, ul.user-reviews, ul.user-gears, ul.user-collections, ul.user-followers, ul.user-followees {
  display: block;
  width: 900px;
  margin: 0 auto;
}


ul.products li, ul.gears li, ul.user-reviews li, ul.user-gears li, ul.user-followers li, ul.user-followees li{
  margin-bottom: 23px;
  display: block;
}




item-title{
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  top: 12px;
}


item-description{
  position: relative;
  top: 18px;
}

button.add-product, button.add-gear {
  position: absolute;
  color: white;
  float: right;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  background-color: #534540;
  border: 1px solid black;
  position: absolute;
  right: 200px;
}


.gear-delete, .review-delete, .edit-gear-button, .edit-review-button {
  color: #534540;
  height: 50px;
  width: 50px;
  float: right;
  position: relative;
  right: 60px;
}

.gear-delete:hover, .review-delete:hover, .edit-gear-button:hover, .edit-review-button:hover {
  cursor: pointer;
  color: red;
}


.user-dropdown{
  top: 35px;
  background: white;
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px solid #838383;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  right: 5px;
  width: 200px;
}

.user-dropdown:after{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}



.user-dropdown > li{
  position: relative;
}


.user-dropdown li a{
  width: 100%;
  display: block;
  padding: 10px;
  position: relative;
  margin: auto;
}


.user-dropdown li a:hover{
  background: #F7F7FA;
}

svg:hover {
  color: blue;
  cursor: pointer;
}




.profile-pic-thumb{
  position: absolute;
  top: 0;
  right: 40px;
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}


.drop-down-container {
  position: absolute;
  float: right;
  left: 915px;
  top: 13px;
}

.follow-or-you{
  float: right;
  text-align: center;
}

.follow-or-you h4{
  position: relative;
  font-weight: 300;
  color: #838383;
  margin-top: 50px;
  right: 40px;
}

.item-owner-thumb{
  float: left;
  position: relative;
  left: 150px;
  bottom: 5px;
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.user-item-thumb{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.user-item-thumb:hover,.profile-pic-thumb:hover{
  cursor: pointer;
}

.user-item {
  float: left;
  position: relative;
  border: 1px solid #838383;
  display: block;
  margin-left: 20px;
  width: 180px;
  padding: 20px;
  border-radius: 5px;
}

.user-item a{
  display: block;
  text-align: center;
  margin: auto;
}

.user-item img{
  margin-bottom: 20px;
}

button.submit, button.cancel, .new-review-button, .follow-button{
  padding: 12px;
  display: block;
  color: white;
  background: #534540;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.follow-button:hover {
  background: #756966;
}

div.product-info{
  color: black;
  display: block;
  float: left;
  width: 400px;
  padding: 40px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1.5em;
  background: #edeceb;
  min-height: 600px;
  text-align: center;
}


div.review-section{
  padding-left: 20px;
  padding-top: 30px;
  width: 500px;
  color: black;
  float: left;
  min-height: 650px;
  background-color: #fbfbfb;
}

.review-form{
  padding: 19px;
  display: block;
  background: #eee;
  font-size: 24px;
  width: 600px;
  text-align: center;
  background: transparent;
  margin: auto;
  text-align: center;
}
