/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, a, ul, li, form,
strong, main, section, img, div, p, fieldset, label, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul, li {
  appearance: none;
}

button{
  background-color: black;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover,
button:focus,
button:active {
    transform: scale(1.1);
}

header{
  background-color: black;
  color: white;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}


div.welcome{
  display: block;
  font-weight: bold;
  color: white;
  width: 100%;
}

div.welcome img{
  position: relative;
  z-index: 0;
  height: 400px;
  width: 100%;
  bottom: 200px;
}

div.welcome h1{
 z-index: 100;
 position: relative;
 display: block;
 bottom: 10px;
}


.header-container{
  position: relative;
  background-color: black;
  height: 50px;
  bottom: 20px;
}

nav.user-info{
  position: relative;
  background-color: gray;
  height: 200px;
  display: block;
  font-weight: bold;
  border-radius: 5px;
  bottom: 20px
}

.user-info > h4 {
  position: relative;
  top: 60px;
}




div.user-header-container{
  display: block;
  position: relative;
  background-color: black;
  height: 50px;
  bottom: 20px;
}



.header-container a{
  border: solid white 5px;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  display: block;
  float: left;
  margin-right: 180px;
  left: 150px;
  top: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.user-header-container a{
  position: relative;
  display: block;
  float: left;
  margin-right: 120px;
  left: 100px;
  top: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 4px;
  border: solid 2px white;
}

.header-container a:hover, .user-header-container a:hover {
  background-color: red;
}

div.collectionpopup{
  margin: auto;
  position: relative;
  display: block;
  bottom: 850px;
  margin: auto;
  background-color: black;
  width: 200px;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
}

a.collection-add{
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px
}



div.gear-show div{
  display: block;
  float: left;
  text-align: center;
}

div.product-show > div{
  display: block;
  float: left;
}

div.new-review {
  display: none;
}

div.new-comment {
  display: none;
  height: 50px;
}

textarea {
  height: 80px;
}

a.collection-add {
  cursor: pointer;
}


form.new-collection input{
  background-color: gray;
}



div.new-gear{
  display: none;
  position: relative;
  top: 5px;
}

li.product-item, li.gear-item{
  position: relative
}

li.product-item div, li.gear-item div{
  position: absolute;
  top: 280px;
  left: 100px;
  z-index: 100
}

.user-show .review-item div{
  position: absolute;
  z-index: 100;
  top: 600px;
  width: 200px;
  left: 180px;
  border-radius: 5px;
  background-color: black;
}

.user-show div.collectionpopup{
  top: 360px;
  right: 250px;
}

.collectionpopup a:hover{
  color: red;
  background-color: black;
}




div.search form input{
  color: black;
  position: relative;
  height: 50px;
  background-color: white;
  float: right;
  display: block;
  width: 200px;
  bottom: 60px;
  border-radius: 20px;
  right: 200px;
  font-size: 20px;
}

a:hover{
  background-color: red;
}

.gear-form {
  display: block;
  position: relative;
  bottom: 280px;
  background-color: black;
  height: 250px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

div.user-stuff-container div{
  display: none;
}

.user-stuff-container div.user-reviews-container{
  display: block;
}

.auth-button, .guest-login {
  position: relative;
  margin: auto;
  padding: 5px;
  border: solid white 1px;
  z-index: 50;
  border-radius: 5px;
  cursor: pointer
}
