<div class="welcome">
  <h1>Welcome to SonicHunt!</h1>
  <img src="http://www.theaudiobeat.com/canjam2010/pics_060510/hifiman_he5le.jpg">
</div>

<div class="index group">

<div>
<h2>Products</h2>
<br>
<ul class="products">
  <li></li>
</ul>
</div>

<div>
<h2>Gears</h2>
<br>
<ul class="gears">
  <li></li>
</ul>
</div>

<div>
<h2>Collections</h2>
<br>
<ul class="collections">
  <li></li>
</ul>

</div>
