<div class="welcome">
  <h1>Welcome to SonicHunt!</h1>
  <h1>A social portal for Audio Enthusiasts</h1>
  <h1> Please login with username: bob123, password: bob123 to test features </h1>
  <img src="http://www.theaudiobeat.com/canjam2010/pics_060510/hifiman_he5le.jpg">
</div>


<div class="header-container group">
  <a class="products">Products</a>
  <a class="gears">Gears</a>
  <a class="collections">Collections</a>
</div>


<div class="index group">

<div class="product-container">
<ul class="products">
  <li></li>
</ul>
</div>

<div class="gear-container">
<ul class="gears">
  <li></li>
</ul>
<button class="new-gear-button">Submit your cool gear bro!</button>
<div class="new-gear"></div>
</div>

<div class="collection-container">
<ul class="collections">
  <li></li>
</ul>
</div>

</div>
